<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>eFarm - Cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet"/>
</head>
<body>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Cadastre-se aqui</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Suas informações</h4>
        <form class="needs-validation" method="post" th:object="${user}" th:action="@{/login/cadastro/new}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nome completo</label>
              <input type="text" th:field="*{completeName}" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Forneça seu nome completo.
              </div>
            </div>


            <div class="col-12">
              <label for="age" class="form-label">Idade <span class="text-muted"></span></label>
              <input type="number" th:field="*{age}" class="form-control" id="age">
              <div class="invalid-feedback">
                Digite sua idade.
              </div>
            </div>

            <div class="col-12">
              <label for="identity" class="form-label">CPF </label>
              <input type="text" th:field="*{identityNumber}" class="form-control" id="identity">
              <div class="invalid-feedback">
                Digite seu CPF.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">CEP</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                CEP obrigatório.
              </div>
            </div>
          </div>

            <div class="col-12">
              <label for="address" class="form-label">Endereço</label>
              <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Forneça seu endereço.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">País</label>
              <input type="text" th:field="*{country}" class="form-control" id="country" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Escolha um país.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">Estado</label>
              <input type="text" th:field="*{state}" class="form-control" id="country" placeholder="1234 Main St" required>
              <select class="form-select" id="state" required>
                <option value="">Escolha...</option>
                <option>Acre</option>
              </select>
              <div class="invalid-feedback">
                Forneça um estado.
              </div>
            </div>

          <div class="col-12">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="fulano@gmail.com" required>
            <div class="invalid-feedback">
              Forneça seu e-mail.
            </div>
          </div>

          <div class="col-12">
            <label for="password" class="form-label">Digite sua senha</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" required>
            <div class="invalid-feedback">
              Forneça sua senha.
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar</button>
        </form>
      </div>
    </div>
  </main>
</div>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; Gabriel Peixoto</p>
  </div>
</footer>

<script>
  $("#cep").focusout(function () {
    //Início do comando AJAX
    $.ajax({
      //O campo URL diz o caminho de onde virá os dados
      //É importante concatenar o valor digitado no CEP
      url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode',
      //Aqui você deve preencher o tipo de dados que será lido,
      //no caso, estamos lendo JSON.
      dataType: 'json',
      //SUCESS é referente a função que será executada caso
      //ele consiga ler a fonte de dados com sucesso.
      //O parâmetro dentro da função se refere ao nome da variável
      //que você vai dar para ler esse objeto.
      success: function (resposta) {
        //Agora basta definir os valores que você deseja preencher
        //automaticamente nos campos acima.
        $("#address").val(resposta.logradouro);
        $("#country").val()
      }
    });
  });
</script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>