<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eFarm - Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Cadastre-se aqui</h2>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Suas informações</h4>
                    <form class="needs-validation" th:action="@{/}" th:object="${user}" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Nome completo</label>
                                <input type="text" th:field="*{completeName}" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    O nome completo é obrigatório.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="age" class="form-label">Idade</label>
                                <div class="input-group has-validation">
                                    <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Idade" required>
                                    <div class="invalid-feedback">
                                        A idade é obrigatória.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="identity" class="form-label">CPF/CNPJ</label>
                                <div class="input-group has-validation">
                                    <input type="number" th:field="*{identityNumber}" class="form-control" id="identity" placeholder="CPF/CNPJ" required>
                                    <div class="invalid-feedback">
                                        A idade é obrigatória.
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-12">-->
<!--                                <label for="email" class="form-label">Email <span class="text-muted">(Opcional)</span></label>-->
<!--                                <input type="email" class="form-control" id="email" placeholder="you@example.com">-->
<!--                                <div class="invalid-feedback">-->
<!--                                    Please enter a valid email address for shipping updates.-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="col-12">
                                <label for="address" class="form-label">Endereço</label>
                                <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="1234 Main St" required>
                                <div class="invalid-feedback">
                                    Favor digitar seu endereço completo.
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label for="country" class="form-label">País</label>
                                <select class="form-select" id="country" required>
                                    <option value="">Escolha...</option>
                                    <option>Brasil</option>
                                </select>
                                <div class="invalid-feedback">
                                    Favor escolher um país válido.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="state" class="form-label">Estado</label>
                                <select class="form-select" id="state" required>
                                    <option value="">Escolha...</option>
                                    <option>Acre</option>
                                    <option>Alagoas</option>
                                    <option>Amapá</option>
                                    <option>Amazonas</option>
                                    <option>Bahia</option>
                                    <option>Ceará</option>
                                    <option>Distrito Federal</option>
                                    <option>Espírito Santo</option>
                                    <option>Goiás</option>
                                    <option>Maranhão</option>
                                    <option>Mato Grosso</option>
                                    <option>Mato Grosso do Sul</option>
                                    <option>Minas Gerais</option>
                                    <option>Pará</option>
                                    <option>Paraíba</option>
                                    <option>Paraná</option>
                                    <option>Pernambuco</option>
                                    <option>Piauí</option>
                                    <option>Rio de Janeiro</option>
                                    <option>Rio Grande do Norte</option>
                                    <option>Rio Grande do Sul</option>
                                    <option>Rondônia</option>
                                    <option>Roraima</option>
                                    <option>Santa Catarina</option>
                                    <option>São Paulo</option>
                                    <option>Sergipe</option>
                                    <option>Tocantins</option>
                                </select>
                                <div class="invalid-feedback">
                                    Forneça um estado válido.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                    CEP obrigatório.
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="city" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="city" placeholder="" required>
                                <div class="invalid-feedback">
                                    Cidade obrigatória.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">&copy; Gabriel Peixoto</p>
        </div>
    </footer>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>