<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Pessoa Jurídica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><form method="post" th:action="@{/legalperson/exit}"><button type="submit" class="btn btn-light">Sair</button></form></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Opções</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div>
                    <h2>Cadastre sua farmácia</h2>
                    <p>Deseja disponibilizar seu estabelecimento para novos clientes? Clique abaixo para cadastrar a sua farmácia.</p>
                    <a th:href="@{/legalperson/register}" class="btn btn-primary">
                        Clique aqui
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h2>Gerenciar o estoque</h2>
                    <p>Deseja consultar o estoque de alguma farmácia cadastrada e adicionar algum produto? Clique abaixo.</p>
                    <a th:href="@{/legalperson/manageDrugstore}" class="btn btn-primary">
                        Verificar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>